<h1><%= @stores[:total] %> Total Stores</h1>

<% @stores[:stores].each do |store| %>
  <div class="store-info">
    <ul>
      <li class="long-name">Name: <%= store[:longName] %></li>
      <li class="city">City: <%= store[:city] %></li>
      <li class="distance">Distance: <%= store[:distance] %></li>
      <li class="phone-number">Phone: <%= store[:phone] %></li>
      <li class="store-type">Store Type: <%= store[:storeType] %></li>
    </ul>
  </div>
<% end %>
