<h1><%= @stores.total %> Total Stores</h1>

<% @stores.each do |store| %>
  <div class="store-info">
    <ul>
      <li class="long-name">Name: <%= store.long_name %></li>
      <li class="city">City: <%= store.city %></li>
      <li class="distance">Distance: <%= store.distance %></li>
      <li class="phone-number">Phone: <%= store.phone_number %></li>
      <li class="store-type">Store Type: <%= store.store_type %></li>
    </ul>
  </div>
<% end %>
